__pycache__/
data/
adapter_weights/
pretrained_clip/
weights/proxy_logs/
weights/static_cache/
checkpoint/
debug/
mask/
noise_exp/mask/
noise_exp/adapters/
noise_exp/static_scores/
noise_checkpoint/
noise_exp/weights/dynamic_cache/
noise_exp/weights/proxy_logs/
picture/
picture_old/
result/
result_old/
unseen_result/adapter/
unseen_result/mask/
unseen_result/static_scores/
unseen_result/weights/
weights/dynamic_cache/
corruption_exp/weights/dynamic_cache/
corruption_exp/weights/proxy_logs/
corruption_exp/static_scores/
corruption_exp/adapters/
corruption_exp/contexts/
corruption_checkpoint/
yyy/a_balanced_gain_loss_stability_cache_v2/
yyy/change_Ag_2_results/
yyy/dynamic_cache/
yyy/dynamic_cache/
yyy/outputs/
unseen_exp/adapter/
unseen_exp/dynamic_cache/
unseen_exp/proxy_logs/
unseen_exp/static_scores/